@import "tailwindcss";

:root {
    --baseColor: #F2F8FF;
    --mainColor: #59ACFF;
    --accentColor: #4f92ad;
}

/* Default Styles (Desktop) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}




.collapsible {
    color: var(--accentColor);
    text-decoration: underline;

}






#contact h2{
    all: revert;
}

#contact {
    padding: 50px 20px;
    background-color: #ffffff;
}
.contact-container {
    max-width: 600px;
    margin: 0 auto;
}

.contact-info a {
    display: flex;
    margin: 5px 0;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}


.contact-info .link {
    display: block;
    color: #007bff;
    margin: 10px 0;
    font-size: 18px;
    text-decoration: none;
}
.contact-info i {
    margin-right: 10px;
}





form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button[type="submit"] {
    background-color: var(--accentColor);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button[type="submit"]:hover {
    background-color: #3cb7b5; 
}






footer img {
    all: revert;
    height: 50px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    padding-top: 0px;
    min-height: 150px;
    background: linear-gradient(to bottom, #fff 55px, #59acff);
    color: #000;
    text-align: center;
}

.footer-contact{
    display: flex;
    justify-content: space-around;
}



footer a {
    text-decoration: none;
    
}
footer a:hover {
    text-decoration: underline;
}

/* Mobile View Adjustments */
@media (max-width: 768px) {
  
    #logo {
        display: block; /* Ensure logo is a block element */
        /*margin: 0 auto; /* Center the logo */
        height: 50px; /* Adjust height as needed */
    }

    .header-content {
        margin: 10px 0; /* Space between logo and business name */
        color: #000;
        text-align: center;

    }
    .hero-image{
        background-image: url("/images/penticton-landscape.jpg");
    }
    .services h3 {
        font-size: 1.2em;
    }
    .services p{
        font-size: .9em;
    }
    .contact-info a {
        display: block;
        margin: 5px 0;
    }

    .contact-info a:hover {
        text-decoration: underline;
    }

    /* Contact Us Section */
    #contact {
        padding: 50px 20px; /* Maintain padding for the section */
        background-color: #ffffff; /* Ensure background is white */
    }

    .contact-container {
       /* max-width: 100%; /* Ensure full width usage */
        margin: 0 auto; /* Center the container */
        
    }

    .contact-info p,
    .contact-info a {
        margin: 10px 0; /* Adjust margin for spacing */
    }
}



@media only screen and (max-width: 480px) {
    
  
    footer img {
        height: 40px;
    }
    .footer-contact{
        display: flex;
        flex-direction: column;
    }
 
    .services h3 {
        font-size: 1em;
    }
    .services p {
        font-size: .8em;
    }

    .testimonial p {
        font-size: 1em;
    }
    .carousel-controls button {
        padding: 8px;
        font-size: 1em;
    }
}
